@import url('https://fonts.googleapis.com/css?family=Neucha|Open+Sans');

html, body {
	height: 100%;
	width: 100%;
	margin-left: 0;
}

h1 {
	font-family:font-family: 'Neucha', cursive;
	color:#e8ca45;
	font-weight: bold;
	font-size: 400%;
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
}

#nav{
	display: block;
	color: #4f5866;
	text-align: center;
    text-align: left;
    font-family: 'Neucha', cursive;
    font-size: 18px;
    padding: 10px
}

a#jump{
	position: absolute;
	top: 0px;

}

/*.skip-nav {
        position: absolute;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }*/

/*common properties wanted for the images*/
.bgimg1, .bgimg2, .bgimg3,.bgimg4{
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; /*fixed allows the parallax pics wont move when scrolled*/
}

.bgimg1{
	background-image: url(images/beach-boardwalk.jpg);
	height: 100%;
	width: 100%;
}

.bgimg2 {
	background-image: url(images/trail.jpg);
	min-height: 100%;

}

.bgimg3 {
	background-image: url(images/spa.jpg);
	min-height: 100%;

}

.bgimg4 {
	background-image: url(images/dining.jpg);
	min-height: 100%;
}

.section{
	background-color: #ffc489;
	text-align: center;
	color: #4c535e;
	padding: 25px 50px;

}
.section-dark{
	background-color: #4f5866;
	text-align: center;
	color: #ffeece;
	padding: 25px 50px; /*allowed the text to cover section*/

}
